body {
  background-color: #f5efed;
  color: #29335c;
}

input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.submit {
  background-color: #fd00b1;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.submit:hover, button:focus {
  background-color: #c400c4;
  transition: 0.15s;
}

.delete {
  background-color: #3330c5;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.delete:hover, button:focus {
  background-color: #073496;
  transition: 0.15s;
}
