body {
  background-color: #f5efed;
  color: #29335c;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: space-around;
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  overflow: hidden;
  width: 15rem;
  height: auto;
  border-style: solid;
  border-color: #337357;
  border-width: 0.15rem;
  border-radius: 0.75rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem
}

input {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.submit {
  background-color: #F3A712;
  color: #29335c ;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.submit:hover, button:focus {
  background-color: #c78707;
  transition: 0.15s;
}

.delete {
  background-color: #DB2B39;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.delete:hover, button:focus {
  background-color: #a2222d;
  transition: 0.15s;
}