/* media queries */
@media screen and (max-width: 600px) {
  .header {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 820px) {
  .header {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* main styling */
body {
  background-color: #d8a6a382;
  color: #29335c;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: space-around;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

input {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-container {
  display: flex;
  justify-content: center;
}

.book-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  overflow: hidden;
  background-color: #29335c;
  width: 15rem;
  height: auto;
  border-style: solid;
  border-color: #337357;
  border-width: 0.25rem;
  border-radius: 0.75rem;
  color: #F5EFED;
  box-shadow: 10px 9px 17px -1px rgba(0,0,0,0.37);
  -webkit-box-shadow: 10px 9px 17px -1px rgba(0,0,0,0.37);
  -moz-box-shadow: 10px 9px 17px -1px rgba(0,0,0,0.37);
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.submit {
  background-color: #F3A712;
  color: #29335c ;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.submit:hover, button:focus {
  background-color: #c78707;
  transition: 0.15s;
}

.delete {
  background-color: #DB2B39;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.10rem;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
}

.delete:hover, button:focus {
  background-color: #a2222d;
  transition: 0.15s;
}